<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/anime.min.js"></script>
    <link rel="stylesheet" href="/static/styles-v2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script>

      // self executing function here
      document.addEventListener("DOMContentLoaded", function (event) {
        anime({
          targets: '#dom-logo path',
          strokeDashoffset: [
            anime.setDashoffset, 0
          ],
          easing: "linear", //easeInOutSine
          duration: 14500,
          delay: function (el, i) {
            return i * 250
          },
          direction: "normal", // alternate
          loop: true
        });

        // Alter background image/color randomly
        const max = 120;
        const r = Math.random() * (max - 0) + 0;
        const g = Math.random() * (max - 0) + 0;
        const b = Math.random() * (max - 0) + 0;

        document
          .querySelector("html")
          .style
          .backgroundImage = `linear-gradient(rgba(${r}, ${g}, ${b}, 0.8), rgba(${r}, ${g}, ${b}, 0.8)), url('/static/dom.webp')`;
        document
          .querySelector("html")
          .style
          .backgroundColor = `rgba(${r}, ${g}, ${b}, 0.8)`;
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="twelve column">{{comp.dominick_logo_svg() | safe}}</div>
      </div>
      {{ content | safe }}
    </div>
  </body>
</html>