@import './normalize.css';
@import './skeleton.css';

html {
    background-color: rgb(100, 100, 100);
    background-size: cover;
    background-position: 0 35%;
}

svg#dom-logo {
    width: 100%;
    margin: 0;
    min-height: 200px;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
}
@media (max-aspect-ratio: 3.5/4) {
    /* … */

    html {
        background-size: 280%;
        background-position: 40% 35%;
    }
    svg#dom-logo {
        min-height: auto;
        margin: 50px 0;
    }
}

body {
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

.path-dashed {
    stroke-dasharray: 200;
}

.button {
    background-color: white;
    font-size: 13px;
    padding: 0 10px;
    margin-right: 10px;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
    user-select: none;
}
.button:hover {
    color: #000;
    opacity: 0.6;
}

.button .iconify {
    font-size: 15px;
    vertical-align: middle;
}

/* ITG Viz */

#itg-viz-wrapper {
    margin-top: 0px;
    margin-left: 20px;
    position: relative;
}

#itg-viz-wrapper .panel {
    width: 80px;
    position: absolute;
}

#itg-viz-wrapper .panel#left {
    top: 80px;
    rotate: 270deg;
}

#itg-viz-wrapper .panel#up {
    top: 0;
    left: 80px;
    rotate: 0deg;
}

#itg-viz-wrapper .panel#down {
    top: 160px;
    left: 80px;
    rotate: 180deg;
}

#itg-viz-wrapper .panel#right {
    top: 80px;
    left: 160px;
    rotate: 90deg;
}

.square {
    pointer-events: none;
    position: relative;
    width: 26px;
    height: 26px;
    margin: 1px;
    background-color: currentColor;
    font-size: 14px;
}
.demo-content {
    scale: 0.8;
    margin-bottom: -20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 290px;
    height: 100%;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.shadow {
    position: absolute;
    opacity: 0.2;
}

@media (max-width: 750px) {
    #itg-viz-wrapper,
    #pipeline-viz,
    .demo-content {
        display: none;
    }
    h1 {
        font-size: 3rem;
    }
    html {
        background-position: 40% 0%;
    }
}
@media (max-width: 590px) {
    .button.hide-mobile {
        display: none;
    }
}
a.button,
a.button:active,
a.button:visited {
    color: #555;
}
a,
a:active,
a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    margin-bottom: 40px;
}

hr {
    border-color: rgba(255, 255, 255, 0.4);
}
