---
title: Dom's Homepage
layout: layout.njk
personal_links:
  - text: GitHub
    url: https://github.com/dominickp
    icon: simple-icons:github
  - text: GitHub(Bose)
    url: https://github.com/Dominick-Peluso-Bose
    icon: simple-icons:github
    add_class: hide-mobile
  - text: LinkedIn
    url: https://www.linkedin.com/in/dominickpeluso/
    icon: simple-icons:linkedin
itg_links:
  - text: Twitch
    url: https://www.twitch.tv/dom_itg
    icon: simple-icons:twitch
  - text: YouTube
    url: https://www.youtube.com/channel/UCpeNRVOVrqx_lras7hbOOrQ
    icon: simple-icons:youtube
  - text: ITGWiki
    url: https://itgwiki.dominick.cc/
    icon: simple-icons:wikipedia
contact_links:
  - text: Webchat
    url: https://irc.dominick.cc/
    icon: mdi:chat-outline
  - text: irc.dominick.cc
    url: ircs://irc.dominick.cc:6697
    icon: file-icons:mirc
---

<div class="row">
    <div class="two-thirds column">
        <h1>Professional Stuff</h1>
        <p>
            I'm currently a cloud software engineer at Bose. I design, build, test, and
            operate cloud microservices that are used by millions of users and devices. 
            I'm passionate about software development, testing, distributed systems, observability, 
            and developer productivity.
        </p>

        <div>
            <a
                href="#"
                class="button"
                data-link="L3N0YXRpYy9kb21pbmlja19wZWx1c29fcmVzdW1lLnBkZg=="
                onfocus="this.href = atob(this.dataset.link) || ''"
                target="_blank"
                >
                <span class="iconify" data-icon="fa-solid:file-pdf"></span>
                Resume
            </a>
            {% for link in personal_links %}
                <a class="button {{link.add_class}}" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="one-third column">
        {{comp.cloud_viz({"num_squares": 100}) | safe}}

    </div>
</div>
<hr/>
<div class="row">
    <div class="two-thirds column">
        <h1>In The Groove</h1>
        <p>
            I play ITG, which is a somewhat obscure arcade dance game from the early 2000s &mdash; <a href="https://itgwiki.dominick.cc/en/meta/what-is-itg" target="_blank">similar to Dance Dance Revolution</a>. 
            I stream ITG live on my Twitch channel and also make related videos on YouTube once in
            a while.
        </p>
        <div>
            {% for link in itg_links %}
                <a class="button" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="one-third column">
        {{comp.panel_viz() | safe}}
    </div>
</div>
<hr/>
<div class="row">
    <div class="column">
        <h1>Contact</h1>
        <p>Want to chat? Shoot me an email or jump on my IRC server. If you don't have an IRC client, you can connect via the web client.</p>
        <div>
            <a
                href="#"
                class="button"
                data-contact="ZG9tQGRvbWluaWNrLmNj"
                data-subj="SGV5IERvbQ=="
                onfocus="this.href = 'mailto:' + atob(this.dataset.contact) + '?subject=' + atob(this.dataset.subj || '')"
                target="_blank"
                >
                <span class="iconify" data-icon="material-symbols:mail-outline"></span>
                Email
            </a>
            {% for link in contact_links %}
                <a class="button" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="column footer">
        <p>
        This website was generated with <a href="https://lume.land/" target="_blank">Lume</a> on <a href="https://deno.land/" target="_blank">Deno</a>. 
        The animations were made with <a href="https://animejs.com/" target="_blank">Anime.js</a>. 
        Changes to <a href="https://github.com/dominickp/dom-deno" target="_blank">the GitHub repo</a> trigger 
        <a href="https://github.com/dominickp/dom-deno/actions" target="_blank">GitHub Actions</a> to update 
        <a href="https://deno.com/deploy" target="_blank">Deno Deploy</a>, where it is hosted at the edge.
        </p>
    </div>
</div>