---
title: Dom's Homepage
layout: layout.njk
description: Learn all about Dom at his personal homepage.
---

<div class="row">
    <div class="two-thirds column">
        <h1>Professional Stuff</h1>
        <p>
            I'm a cloud software engineer with demonstrated experience building microservices and web applications at scale. My expertise spans the full development lifecycle -- encompassing front-end, test automation, DevOps, API design, and creating best-in-class observability.
        </p>
        <p>
            Some of the industries I've worked in are: cybersecurity, consumer electronics, and commercial printing and fulfillment.
        </p>
        <p>
            I'm passionate about software development, testing, distributed systems, mentoring new developers, and improving DX/developer productivity.
        </p>

        <div>
            <a
                href="#"
                class="button"
                data-resume-link
                data-link="c3RhdGljL2RvbWluaWNrX3BlbHVzb19yZXN1bWUucGRm"
                target="_blank"
                >
                <span class="iconify" data-icon="fa-solid:file-pdf"></span>
                Resume
            </a>
            {% for link in home.personalLinks %}
                <a class="button {{link.add_class}}" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="one-third column">
        {{comp.pipeline_viz() | await | safe}}

    </div>
</div>
<hr/>
<div class="row">
    <div class="column">
        <h1>Fun Projects</h1>
        <p>
            I like to tinker with hardware and software projects in my spare time.
        </p>
        <div>
            {% for link in home.projectLinks %}
                <a class="button" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="two-thirds column">
        <h1>In The Groove</h1>
        <p>
            I play ITG, which is a somewhat obscure arcade dance game from the early 2000s &mdash; <a href="https://itgwiki.dominick.cc/en/meta/what-is-itg" target="_blank">similar to Dance Dance Revolution</a>. 
            I stream ITG live on my Twitch channel and also make related videos on YouTube once in
            a while.
        </p>
        <div>
            {% for link in home.itgLinks %}
                <a class="button" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="one-third column">
        {{comp.panel_viz() | await | safe}}
    </div>
</div>
<hr/>
<div class="row">
    <div class="column">
        <h1>Contact</h1>
        <p>Want to get in touch? Feel free to reach out via email.</p>
        <div>
            <a
                href="#"
                class="button contact-button"
                data-contact="ZG9tQGRvbWluaWNrLmNj"
                data-subj="SGV5IERvbQ=="
                target="_blank"
                >
                <span class="iconify" data-icon="material-symbols:mail-outline"></span>
                <span class="contact-button-text">
                    <span class="contact-button-label" data-contact-label>Reveal email</span>
                    <span class="contact-button-email" data-contact-email aria-hidden="true"></span>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="column footer">
    </div>
</div>