---
title: ᴅᴏᴍɪɴɪᴄᴋ.ᴄᴄ
layout: layout.njk
personal_links:
  - text: My Resume
    url: /static/resume.pdf
    icon: fa-solid:file-pdf
  - text: dominickp
    url: https://github.com/dominickp
    icon: simple-icons:github
  - text: Dominick-Peluso-Bose
    url: https://github.com/Dominick-Peluso-Bose
    icon: simple-icons:github
  - text: LinkedIn
    url: https://www.linkedin.com/in/dominickpeluso/
    icon: simple-icons:linkedin
itg_links:
  - text: Dom_ITG
    url: https://www.twitch.tv/dom_itg
    icon: simple-icons:twitch
  - text: Dom_ITG
    url: https://www.youtube.com/channel/UCpeNRVOVrqx_lras7hbOOrQ
    icon: simple-icons:youtube
  - text: ITG Wiki
    url: https://itgwiki.dominick.cc/
    icon: simple-icons:wikipedia
---

<div class="row">
    <div class="two-thirds column">
        <h1>Professional Stuff</h1>
        <p>
            I'm currently a cloud software engineer at Bose. I design, build, test, and
            operate cloud microservices that are used by millions of users and devices. 
            I'm passionate about software development, testing, distributed systems, observability, 
            and developer productivity.
        </p>

        <div>
            {% for link in personal_links %}
                <a class="button" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="one-third column">
        {{comp.cloud_viz({"num_squares": 100}) | safe}}

    </div>
</div>
<hr/>
<div class="row">
    <div class="two-thirds column">
        <h1>ITG Stuff</h1>
        <p>
            One of my favorite hobbies is playing In The Groove (ITG) which is a somewhat
            obscure arcade dance game from the early 2000s. I play a variant of ITG which is
            focused on stamina and speed as one of my workout routines.
        </p>
        <p>
            I stream live on my Twitch channel and I also make ITG videos on YouTube once in
            a while.
        </p>
        <div>
            {% for link in itg_links %}
                <a class="button" href="{{ link.url }}" target="_blank">
                    <span class="iconify" data-icon="{{link.icon}}"></span>
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="one-third column">
        {{comp.panel_viz() | safe}}
    </div>
</div>
<hr/>
<div class="row">
    <div class="column footer">
        <p>
        This website was generated with <a href="https://lume.land/" target="_blank">Lume</a> on <a href="https://deno.land/" target="_blank">Deno</a>. 
        Changes to <a href="https://github.com/dominickp/dom-deno" target="_blank">the GitHub repo</a> trigger 
        <a href="https://github.com/dominickp/dom-deno/actions" target="_blank">GitHub Actions</a> to update 
        <a href="https://deno.com/deploy" target="_blank">Deno Deploy</a>, where it's hosted.
        </p>
    </div>
</div>