<div class="demo-content staggering-axis-grid-demo">
    <div class="grid">
        {% for i in range(0, num_squares) -%}
            <div class="small square el"></div>
        {%- endfor %}
    </div>
    <div class="grid shadow">
        {% for i in range(0, num_squares) -%}
            <div class="small square"></div>
        {%- endfor %}
    </div>
</div>