<script>
  document.addEventListener("DOMContentLoaded", function () {
    const startDelay = 500;
    const drawDuration = 11500;
    const tracerDelay = 50;

    anime.set('#dom-logo .dom-logo-main', {
      opacity: 1,
      strokeDasharray: 0,
      strokeDashoffset: 0
    });

    anime.set('#dom-logo .dom-logo-tracer', {
      opacity: 0
    });

    const tracerAnimation = anime({
      targets: '#dom-logo .dom-logo-tracer',
      strokeDashoffset: [
        anime.setDashoffset, 0
      ],
      opacity: [0, 1, 0],
      easing: "linear",
      duration: drawDuration,
      delay: function (el, i) {
        return tracerDelay + i * 250;
      },
      direction: "normal",
      loop: true,
      autoplay: false
    });

    setTimeout(function () {
      tracerAnimation.play();
    }, startDelay);
  });
</script>
