<div id="itg-viz-wrapper">
    <div class="itg-lanes">
        <span class="itg-lane" data-lane="left"></span>
        <span class="itg-lane" data-lane="up"></span>
        <span class="itg-lane" data-lane="down"></span>
        <span class="itg-lane" data-lane="right"></span>
    </div>
    <span class="hit-ring" data-lane="left"></span>
    <span class="hit-ring" data-lane="up"></span>
    <span class="hit-ring" data-lane="down"></span>
    <span class="hit-ring" data-lane="right"></span>
    {{comp.panel_svg({ id: "left" }) | await | safe}}
    {{comp.panel_svg({ id: "up" }) | await | safe}}
    {{comp.panel_svg({ id: "down" }) | await | safe}}
    {{comp.panel_svg({ id: "right" }) | await | safe}}
</div>